.Container{
    max-width: 97vw;
    margin: auto;
  }
  
  .Main{
    display: flex;
    justify-content: space-between;
  }
  
  .CasesSec{
    flex: 1;
  }
  
 
  
  .MiddleContent{
    display: flex;
    max-width: 93vw;
   height: 100vh;
   flex: 1;
  } 
  
  .LowerCol{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  } 
  
  .RightCol{
    /* flex: 1; */
    margin: 1rem;
    margin-right: 0;
  }
  .RatioTweet{
    display: flex;
    flex-direction: column;
  }
  .tweet{
    margin-top: 2rem;
  }