.Country{
    box-sizing: border-box;
    font-weight: bold;
    width: 100%;
    margin: 1rem 0;
    padding: 2px;
   
  }
  
  .CountryHeading{
    display: flex;
    color: #e5e4e2;
  }
  
  .CountryHeading div{
    margin: 0 0.5rem;
    align-self: center;
    margin-left: 0;
  }

  .Affected{
    border-right: 1px solid #777;
    padding-left: 0;
  }
  
  .CountryDetail{
    color: #888;
    font-size: 12px;
    padding: 0 10px;
  }
  
  
  