a{
    text-decoration: none;
    background-color: 	#FFEAEB; 
    font-size: 14px;
    font-weight: bold;
  }
  .NewsUpdate{
    flex: 1;
    margin-left: 1rem;
  }
  
  .Slider{
    display: flex;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    padding: 0 0.3rem;
    width: 40vw;
  }
  
  .NewsCard{
    display: flex;
    min-width: 100%;
    transition: 0.5s;
  }
  
  .NewsTitle{
    font-weight: bold;
    margin: 1rem 0;
    font-size: 16px;
    color: #30313A;
  }
  
  .NewsInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.7rem;
  }
  
  .NewsInfo>span{
    display: inline-block;
    background-color: #FFEAEB;
    color: #FF0019;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
  }
  
  .NewsTime{
    color:#30313A;
    background-color: #96CDCD;
    font-size: 14px;
    padding: 0.1rem
  }
  
  .NewsDesc{
    font-size: 15px;
  }
  
  .NewsDesc>span{
    display: block;
    padding: 20px 5px;
    margin-right: 10px;
   
   
  }
  .NewsDesc>span>a{
      padding: 10px;
      font-weight: bold;
      color: #FF0019;
      border-radius: 4px;
  }
  
  .NewsDesc>span>a:hover{
    background-color: transparent;
    color: #FF0019;
    font-size: 18px;
    transition: 0.3s;
  }
  
  
  .NavigationButtons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3vw;
    height: 100%;
    background-color: transparent;
    color: #1E90FF;
    outline: none;
    border: none;
    font-size: x-large;
  }
  
  .NavigationButtons:hover{
  
    background-color:  transparent;
    font-size: xx-large;
    transition: 0.3s;
  }
  
  .GoLeft{
    left: 0;
  }
  
  .GoRight{
    right: 0;
  }