 /* .TwitterFeeds{
    padding: 1rem 0;
    flex: 2;
  }  */
  
  .TwitterFeedsHeading{
    display: flex;
    font-weight: bold;
    padding: 1rem;
    padding-bottom: 0.3rem;
    align-items: center;
    color: #E0EEEE;
  }
  
  .TwitterFeedsHeading span{
    font-size: 18px;
    padding-left: 0.6rem;
    align-self: center;
    color:#54B5F5 
  }
  
  .TweetList{
    height: 35vh;
    width: 30vw;
    overflow-y: scroll;
    padding: 0 0.5rem;
    box-shadow: 10px 0px 8px #40A4C8;;
    border-radius: 4px;
  }
  