.NavItem{
  padding: 10px 8px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  text-align: center;
}
.NavItem:first-child{
  border-bottom: 4px solid red;
    color: red;
}
.NavItem:hover,
.NavItem:active,
.NavItem.active {
  color: #40A4C8;
  border-bottom: 4px solid #40A4C8;
  font-size: 20px;
  transition: 0.3s;
}
