.NavItem{
  padding: 15px 8px;
  box-sizing: border-box;
  margin: 0 1rem;
  text-align: center;
  color: #52586A;
}
.NavItem:first-child{
  border-bottom: 4px solid red;
}
.NavItem:hover,
.NavItem:active,
.NavItem.active {
  color: #7E191B;
  border-bottom: 4px solid #7E191B;
  font-size: 20px;
  transition: 0.4s;
}
